<!doctype html>
 <html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  
  <body>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col bg-dark text-white">
                <a class="navbar-brand">BookShop</a>
            </div>
        </div>
        <div class="row mt-2">
           
            <div class="col-3">
                <button class="btn btn-outline-info btn-block mb-2" id="all">Все</button>
                <div id="category">
                
                </div>
                <button class="btn btn-outline-success btn-block mt-2" id="newCtg">Новая категория</button>
            </div>
            
            <div class="col-9" >
               <div class="row" id="content">
                    
              </div>

            </div>
        </div>
    </div>

   
   
   
   
   
   
   
   
   
   
   
   

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="script/strings.js"></script>
    <script src="script/categories.js"></script>
    <script src="script/books.js"></script>
    <script src="script/onStart.js"></script>
    <script src="script/events.js"></script>
    
    
    
  </body>
</html>